/* Töltő gifhez szükséges css beállítások */

/* CSS a betöltő divhez */
#betolto {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1); /* Fehér háttér áttetszőséggel */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Biztosítja, hogy felül legyen a tartalom felett */
}
#betolto img {
    width: 15%; /* Az img szélessége legfeljebb 100% */
}

.mainimage-container {
    width: 100%; /* A tartalom szélessége legyen 100% */
    overflow: hidden; /* Ha a kép túl nagy, akkor ne legyen overflow (túlcsordulás) */
}

.mainimage-container img {
    width: 100%; /* A kép szélessége legyen 100% a szülőelem szélességéhez képest */
    height: auto; /* Automatikus magasság beállítása a képarány megtartásához */
    display: block; /* A képet blokkként kezeli, hogy ne legyenek felesleges részek */
}
/* Gallériához szükséges beállítások */
.caption {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
}

.caption h2, .caption p {
    margin: 0;
}

.button-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.button-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}


body {
    font-family: 'Rajdhani', sans-serif; ;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#ccc, #FFF);
}

.gallery {
    width: 80%;
    margin: 20px auto;
}

/* Cím és alcím */
.title {
    text-align: center;
    font-size: 50px;
    color: white;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
}

/* Lapozható galéria stílusai */
.slideshow-container {
    position: relative;
    max-width: 80%;
    margin: auto;
    overflow: hidden;
}

.mySlides {
    display: none;
}

/* Lapozó gombok stílusai */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* A lapozó gombok hover állapota */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Alapértelmezett stílus a diákhoz */
.slide {
    width: 100%;
    display: none;
}

.activenav {
    font-weight: bold;
}

/* Aktív dia megjelenítése */
.active {
    display: block;
}

.centered {
    position: absolute;
    top: 70%;
    left: 25%;
    transform: translate(-50%, -50%);
}
.imageonimage {
    position: absolute;
    top: 50%;
    left: 25%;
    height: 30%;
    width: 30%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;

}
.hatterkocka {
    padding: 50px 50px 50px 50px;
    background-color: #141628AA;
}

/* Menüsáv css */
/* Menüsáv stílusai */
.navbar {
    background-color: #141628; /* Menüsáv háttérszíne */
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Elemek elhelyezése a menüsávban */
    padding: 10px;
    box-sizing: border-box;
}

/* Logó stílusai */
.logo img {
    height: 40px; /* Logó magassága */
}

/* Menüpontok stílusai */
.menu {
    display: flex;
}

.menu a {
    color: white; /* Menüpontok színe */
    text-decoration: none; /* Alapértelmezett aláhúzás eltávolítása */
    padding: 0 15px; /* Menüpontok közötti térköz */
    line-height: 40px; /* Menüpontok középvonala a menüsáv magasságához képest */
}

/* Menüpontok hover állapota */
.menu a:hover {
    background-color: #555; /* Háttérszín hover állapotban */
}

/* Kezdő és vég ár input container */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 30px;
}

.input-container input {
    width: 150px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.search-button {
    margin-left: auto;
    margin-top: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.search-button2 {
    margin: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Dropdown menu */
.dropbtn {
    background-color: #6CAFC1;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #c0c0c0;
}

/* The search field */
#inputMarka {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    padding: 12px 16px;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #CCCCCC;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* Container részlegekhez */

.centercontainer {
    margin: auto;
    width: 80%;

    padding: 20px;
}


/* Footer stílusai */
footer {
    background-color: #141628; /* Háttérszín */
    color: #fff; /* Szövegszín */
    padding: 20px 0; /* Belső térköz a tartalom körül */
    text-align: center; /* Szöveg igazítása középre */

    left: 0;
    bottom: 0;
    width: 100%;
}

/* Elérhetőség stílusai */
.contact {
    margin-top: 10px; /* Margó a felső tartalomhoz */
    font-style: italic; /* Dőlt szövegstílus */
}

/* Listaelemek stílusai */
.list {
    list-style-type: none; /* Lista jelölő típusának eltávolítása */
    padding: 0;
}

.list-item {
    display: flex; /* Flexbox elrendezés */
    margin-bottom: 20px; /* Margó a lista elemek között */
    /*background: #874f4122;*/
    padding: 20px;
}

.list-itemkep {
    width: 350px; /* Kép szélessége */
    height: 250px; /* Képarány megtartása */
    object-fit: cover;
    margin-right: 20px; /* Margó a kép jobb oldalán */
    border-radius: 10px;
    border: 3px solid #CCC;
}

.list-item-content {
    flex: 1; /* Rugalmas növekedés a tartalomra */
}

.cimpluszkedvenc {
    display: flex; /* Flexbox layout */
}

.list-item-content h3 {
    margin-top: 0; /* Margó eltávolítása a cím fölött */
    font-size: 20px; /* Cím betűmérete */
}

.list-item-content p {
    margin-top: 5px; /* Margó a leírás felett */

}

.custom-hr {
    border: 0;
    height: 3px;
    background-color: #333;
    margin: 20px auto;
    max-width: 200px;
}

.center {
    text-align: center;
}

.separator {
    background-color: #000;
    width: 60%;
    height: 4px;
}
.separator2 {
    background-color: #666;
    width: 100%;
    height: 2px;
}

.page-info{
    margin-top: 90px;
    font-size: 18px;
    font-weight: bold;
}

.page-numbers{
    display: inline-block;
}

.pagination a {
    display: inline-block;
    text-decoration: none;
    color: #006cb3;
    padding: 10px 20px;
    border: thin solid #d4d4d4;
    transition: all 0.3s;
    font-size: 18px;
}
.pagination a.active {
    background-color: #0d81cd;
    color: #fff;
}
